.hero-search{
    .btn-outline-dark{
        border: none;
    }
}

.location-switcher{
    position: absolute;
    right: -26px;
    top: 28px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.location-switcher:hover{
    transform: scale(1.1);
    
}
.react-datepicker{
    border-radius: 10px;
    border: 1px solid var(--primary-5);
    overflow: hidden;
}
.react-datepicker__navigation{
    top: 15px;
}
.react-datepicker__header{
    padding: 15px;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
    padding-bottom: 5px;
    font-weight: 500;
}

.react-datepicker__header{
    background-color: var(--primary-light);
    border: none;
    overflow: hidden;

}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
    background-color: var(--primary);
    border: none;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover{
    background-color: var(--primary-8);
    border: none;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    font-weight: 500;
    /* color: var(--primary); */
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range){
    background-color: var(--primary-5) !important;
    color: var(--bs-dark) !important;
}

.custom-datepicker{
    width: 550px;
    height: 116px;
    background: transparent;
    position: absolute;
    top: -40px;
    left: -25px;
}